<div class="item-container">
	{{#if spicy}}
		<div class="item-name-container">
			<h1 class="item-name">{{name}}</h1>
			<p class="item-spicy">{{spicy}}</p>
		</div>
	{{else}}
		<h1 class="item-name">{{name}}</h1>
	{{/if}}
		<h2 class="item-price">{{price}}</h2>
		<p class="item-desc">{{description}}</p>
</div>
