<div class="item-container">
	{{#if spicy}}
		<div class="item-name-container">
			<h3 class="item-name">{{name}}</h3>
			<p class="item-spicy">{{spicy}}</p>
		</div>
	{{else}}
		<h3 class="item-name">{{name}}</h3>
	{{/if}}
		<h4 class="item-price">{{price}}</h4>
		<p class="item-desc">{{description}}</p>
</div>
