<div class="item-container">
	{{#if spicy}}
		<div class="item-name-container">
			<div class="item-name">{{name}} <p class="item-spicy">{{spicy}}</p></div>
		</div>
	{{else}}
		<div class="item-name">{{name}}</div>
	{{/if}}
		<div class="item-price">{{lunch_price}}</div>
		<p class="item-desc">{{description}}</p>
</div>
